<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @help.name %>
</p>

<p>
  <b>Text:</b>
  <%= @help.text %>
</p>


<%= link_to 'Edit', edit_help_path(@help) %> |
<%= link_to 'Back', helps_path %>
